.curriculumHeader {
    width: 80%;
    margin: 40px 0px 10px 10%;
    margin-bottom: 18px;
  }
  .curriculumHeader h1 {
    font-size: 53px;
    margin-bottom: -5px;
  }
  .curriculumHeader p {
    letter-spacing: 0.08em;
    margin: 10px 0px;
    font-size: 20px;
  }
.curriculumParrafoLenguaje {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    letter-spacing: 0.08em;
  }
  .curriculumParrafoLenguaje p {
    margin: 4px 0px;
  }