.arrowBox {
  width: 10px;
}
.arrow {
  margin-top: 5px;
  transform: rotate(90deg);
  border-bottom: 16px solid #004AAD;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}